/* Font import */
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
<<<<<<< HEAD
=======

>>>>>>> e0d1b649ed9beb3cbf30b8676d9ec0bd9eff3669


/* Default styling for the whole page */
html, body{
<<<<<<< HEAD
<<<<<<< HEAD
	font-family: 'Lato', sans-serif;
	width: 100%;
  	height: 100%;
  	padding: 0px;
  	margin: 0px;
=======
	font-size: 100%;
	font-family: 'Oxygen', sans-serif;
>>>>>>> node modules installed
=======
	font-size: 100%;
	font-family: 'Oxygen', sans-serif;
>>>>>>> e0d1b649ed9beb3cbf30b8676d9ec0bd9eff3669
 }

/* Default for all divs */
div{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* All links */
a{
	text-decoration: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* Navigation bar */
.main-nav{
	background-color: rgb(240,240,240);
	height: 60px;
	-webkit-box-shadow: -2px 10px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 5px -7px rgba(0,0,0,0.75);
	box-shadow: -2px 10px 5px -7px rgba(0,0,0,0.75);
}

/* Page Heading */
.page-heading{
	margin: 0 auto;
	width: 300px;
	height: 30px;
	margin-bottom: -40px;
	margin-top: 15px;
}

=======
=======
>>>>>>> e0d1b649ed9beb3cbf30b8676d9ec0bd9eff3669
.main-nav{
	background-color: rgba(54,97,100,0.45);
}

.main-heading{
	display: inline-block;
	float: left;
}
.header{
	float: left;
}

.search-bar{
	display: inline;
	float: right;
}

.create-index{
	float: right;
	position: all;
}
<<<<<<< HEAD
>>>>>>> node modules installed
=======
>>>>>>> e0d1b649ed9beb3cbf30b8676d9ec0bd9eff3669

/* Logo */
.logo{
	float: left;
	width: 30px;
	margin: 10px;
	border-radius: 50%;
}

.main-links{
	display: inline-block;
}

.list-items{
	list-style-type: none;
	height: 30px;
}

/* Search form */
.search-form{
	margin-top: 10px;
	display: inline-block;
	float: right;
}

/* Search input box */
.search{
	display: inline-block;
	margin: 0 auto;
	padding:6px 13px;
	border:1px solid rgb(219,219,219);
}

/* Search button */
.submit{
    position:relative;
    padding:6px 15px;
    left:-4px;
    border:0.5px solid rgb(32,124,202);
    background-color: rgb(32,124,202);
    color:rgb(250,250,250);
    height: 33px;
}   
.submit:hover {   
	background-color: rgb(250,250,250);
    color:rgb(32,124,202);    
 }

/* Main page styling */
.main-section{
<<<<<<< HEAD
<<<<<<< HEAD
	background-color: rgb(32,124,202);
=======
	background-color: rgba(54,97,100,0.45);
>>>>>>> node modules installed
=======
	background-color: rgba(54,97,100,0.45);
>>>>>>> e0d1b649ed9beb3cbf30b8676d9ec0bd9eff3669
	border-radius: 10px;
	padding: 10px;
	width: 70%;
	height: 100%;
	margin-bottom: -30%;
	margin: 0 auto;
	width: 900px;
	-webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.75);
}

.create-index{
	background-color: rgb(240,240,240);
	margin-top: -30px;
}

.footer{
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:60px;   /* Height of the footer */
   	background:#6cf;
	background-color: rgb(32,124,202);
}